.gold-button {
    background: linear-gradient(90deg, rgba(216, 184, 81, 0.92) 0%, rgba(238, 217, 114, 0.964053) 21%, #F0DB73 38.14%, #EFC966 67.12%, rgba(196, 156, 57, 0.88) 100%);
    border-radius: 13px;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: $grey;

    &:hover{
        opacity: 0.8;
        transform: scale(0.99);
    }

    @media(max-width: 600px) {
        width: 100% !important;
    }
}
