.about {

    h1 {
        margin-top: 40px;
        font-size: 54px;
        font-weight: 500;
        line-height: 65px;
        color: $beige;

        @media(max-width: 1024px) {
            margin-top: 20px;

            font-size: 30px;
            font-weight: 500;
            line-height: 36px;
        }
    }

    &-intro-img {
        margin-top: 40px;
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            object-fit: contain;
        }

        @media(max-width: 1024px) {
            margin-top: 20px;
        }
    }

    &-desc {
        margin-top: 100px;

        @media(max-width: 1024px) {
            margin-top: 50px;
        }

        h2 {
            font-size: 32px;
            font-weight: 500;
            line-height: 39px;
            color: $beige;

            @media(max-width: 1024px) {
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;
            }
        }

        &-p {
            margin-top: 25px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;

            @media(max-width: 1024px) {
                grid-template-columns: 1fr;
                gap: 20px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                color: $beige;

                @media(max-width: 1024px) {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                }
            }
        }
    }

    &-team {
        margin-top: 100px;

        @media(max-width: 1024px) {
            margin-top: 50px;
        }
    }

    &-work-with-us {
        margin-top: 120px;

        @media(max-width: 1024px) {
            margin-top: 50px;
        }
    }

    &-letters {
        margin-top: 120px;

        @media(max-width: 1024px) {
            margin-top: 50px;
        }
    }


    &-directions {
        margin-top: 120px;

        @media(max-width: 1024px) {
            margin-top: 50px;
        }

        h2 {
            font-size: 32px;
            font-weight: 500;
            line-height: 39px;
            color: $beige;

            @media(max-width: 1024px) {
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;
            }
        }

        &-items {
            margin-top: 35px;

            display: flex;
            flex-direction: column;
            gap: 40px;

            @media(max-width: 1024px) {
                gap: 20px;
                margin-top: 20px;
            }
        }
    }

    &-stars {

        margin: 120px 0;

        @media(max-width: 1024px) {
            margin: 60px 0;
        }

        h2 {
            font-size: 32px;
            font-weight: 500;
            line-height: 39px;
            color: $beige;

            @media(max-width: 1024px) {
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;
            }
        }

        &-items {
            margin-top: 25px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            @media(max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(max-width: 700px) {
                grid-template-columns: repeat(1, 1fr);
            }

        }

        &-button {
            margin-top: 60px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-questions {
        margin: 120px 0;

        @media(max-width: 1024px) {
            margin: 60px 0;
        }
    }

}
